<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://kit.fontawesome.com/767c4fdec3.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <section class="hero is-fullheight">
			<div class="hero-body">
        <div class="container center">
          <h1 class="title hompage">impromptu</h1>
          <p class="subtitle homepage">a space to capture your thoughts</p>
          <div class="buttons">
            <a href="/auth/google" class="button is-info is-white is-medium is-rounded is-outlined">Login With Google</a>
          </div>
        </div>
      </div>
    </section>
	</body>
</html>