@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Kirang+Haerang&family=Raleway+Dots&display=swap');

html {
  background: #12192B;
}

body {
  font-family: 'Comfortaa', cursive;
 
}

.new-form {
  height: 100vh;
}

.textarea {
  height: 40vh;
}

nav.level {
  margin: 0;
}

.hero {
  background: url('../images/bg_image-01.svg') center / cover;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1.title.hompage {
    font-family: 'Kirang Haerang', cursive;
    font-size: 5rem;
    color: #fff;
}

.title-nav {
  font-family: 'Kirang Haerang', cursive;
  font-size: 3rem;
  color: #fff;
}

p.subtitle.homepage {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}


.container {
  margin-bottom: 5rem;
}

.navbar {
  background-color: #12192B;
}


section.section.is-medium.profile-page {
background: #F4AD4F;
}

nav {
  background: #8AD38D;
}

section.container.is-fluid {
  background: #F4AD4F;
  padding: 2rem;
}

p.subtitle.read {
  margin-top: 1rem;
}


.postLayout {
  display: flex;
  justify-content: space-between;
}

.entryContent {
  font-size: 2rem;
}

.entryContent h2 {
  font-weight: bold;
}

.edit-buttons {
  padding: 1rem 0 1rem 0;
}

.edit-buttons.new {

   padding: 0 0 1rem 1rem;
}

.edit-buttons a {
  margin-right: 1rem;
}

.postLayout img {
  width: 50%;
}

.tile {
  align-items: stretch;
  display: block;
  flex-basis: auto;
  flex-grow: inherit;
  flex-shrink: 1;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  flex-wrap: wrap;
  padding: 1rem;
}
figure.image{
  width: 200px;
}

.title.all-entries {
  color: #ffffff;
  text-align: center;
}

.buttons.all-entries {
  margin-left: 3rem;
}

.edit-buttons {
  display: flex;
}

.title.profile-page, .subtitle.profile-page {
  text-align: center;
  color: #ffffff;
  padding: 0.5rem;
}

.subtitle.all-entries {
  color: #fff;
  margin-left: 2rem;
  font-weight: bold;
}


@media (max-width: 1024px) { .hero { background: #12192B url('../images/bg_image-1024-01.svg') center / cover; } }

@media (max-width: 768px) { 
  .hero { background: #12192B url('../images/bg_image-768-01.svg') center / cover; } 
  figure.image{
    width: 100%;
  }
}
