<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h2><%= entry.mood %></h2>
        <input />
        <h2><%= entry.title %></h2>
        <input />
        <h2><%= entry.entry %></h2>
        <input />
    </form>
    <a href="/posts">Back</a>
</body>
</html>