<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/767c4fdec3.js" crossorigin="anonymous"></script>

  </head>
  <body>
    <section class="hero is-fullheight">
			<div class="hero-body">
        <div class="container center">
          <h1 class="title">Impromptu</h1>
          <p class="subtitle">a place to reflect on something new you are learning</p>
        </div>
      </div>
    </section>
	</body>
</html>


  

 <!--    <ul>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/">Homepage</a></li>
  </ul> -->